body {
}
div{
    box-shadow: none!important;
}
.p0{
    padding: 0 !important;
}
.B {
    padding: 0!important;
    display: block;
    margin: 0 auto!important;
}
/*--------------- Page_login ----------------------------*/
.info {
    margin: 0;
}
.fill_img{
    width: 100%;
    height: 95%;
    position: absolute;
    z-index: 0;
    background-image: url("../images/image.png");
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-blend-mode: saturation;
}
.fill_img_inner{
    background: rgba(50,50,50,0.73);
    width: 100%;
    height: 100%;
    position: absolute;
}
.topelement_p1{
    position: relative;
}
.topelement_p1 img{
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
.logo img{
    width: 35%;
    display: block;
    margin: 0 auto;
}
.logo_caption{
    position: relative;
    font-size: 100%;
    padding: 10% 0;
    text-align: center;
        color: #fff;
}
.circle_p1{
    justify-content: space-around;
    display: flex;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.circle_p1 div{
    position: relative;
    border: 5px solid yellow;
    border-radius: 50%;
    height: fit-content;
    background-size: cover;
}
.circle_p1_child_right{
    width: 17%;
    padding-top: 17%;
    background: url("../images/image.png") no-repeat;
    margin: 5% 0;
}
.circle_p1_child_center{
    width: 20%;
    padding-top: 20%;
    background: url("../images/image.png");
    margin: 5% 0;
}
.circle_p1_child_left{
    width: 25%;
    padding-top: 25%;
    background: url("../images/image.png");
    margin: -5% -5% 0 5%;
}
.info{
    background: #5a1973;
}
.info_caption{
        font-size: 80%!important;
        text-align: center!important;
        color: #fff!important;
    padding: 5% 0!important;
}
.info form{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
}
.info form div{
    border: none!important;
    background: #00000000 !important;
}
.input_num_p1{
    background-color: #5a1973!important;
    border: 1px solid #ffff00!important;
    border-radius: 20px !important;
    padding: 2% 5% !important;
    text-align: left!important;
    direction: ltr;
    font-weight: bold;
    color: #fff !important;
    text-shadow: none!important;
}
.submit_p1{
    width: 25%;
    display: block!important;
    margin: 0 auto!important;
        background-color: #ffff00!important;
    border:none!important;
    border-radius: 20px !important;
    padding: 2% 5% !important;

}

/*--------------- Page_1 ----------------------------*/
.main_tlt {
    width: 80%;
    border-bottom: 1px solid #e3bc9b;
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    font-size: 28px;
}

.place_main {
    position: relative;
    height: auto;
    width: auto;
    background: url("../images/bacground-no repeat.png") no-repeat;
    background-size: 100% 100%;
}

/*--------------- Page SMS ----------------------------*/

.place_main {
    background: url("../images/bacground-no repeat.png") no-repeat;
    background-size: 100% 100%;
    margin: -10px 0 0 0!important;
}
.main_tilte {
    width: 70%;
    border-bottom: 1px solid #e3bc9b;
    margin: 10px auto;
    padding: 35px 0 30px 0;
    text-align: center;
    font-size: 120%;
    color: #fff;
}

.send_again, .timer_sms {
    text-align: right!important;
    float: right;
    width: 50%;
    font-size: 90%;
    color: #fff;
    padding: 5% 0;
    margin-bottom: 30px!important;
    margin-top: 30px!important;
}
.timer_sms {
    text-align: left!important;
    float: left;
}
.submit_sms {
    width: 25%;
    display: block!important;
    margin: 0 auto!important;
    background-color: #ffff00!important;
    border:none!important;
    font-size: 90%!important;
    border-radius: 20px !important;
    padding: 2% 7% !important;
    margin-top: 20px!important;
    margin-bottom: 65px!important;
}
.main_info{
    background: #461858;
}
.main_info, .main_info_description{
    font-size: 90%;
    text-align: center;
    color: #fff;
    padding: 5% 0;
    padding-top: 45px!important;
}
.main_info_description {
    padding-top: 35px!important;
}
.main_info form{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
}
.main_info form div{
    border: none!important;
    background: #00000000 !important;
}

.etx_verify{
    width: 25%!important;
    background-color: #5a1973!important;
    border: 1px solid #ffff00!important;
    border-radius: 20px !important;
    padding: 2% 5% !important;
    text-align: left!important;
    direction: ltr;
    font-weight: bold;
    color: #fff !important;
    text-shadow: none!important;
    margin: 0 auto!important;
}

/*--------------- Page_main ----------------------------*/
.page2_main_btn img {
    width: 100%;
    height: auto;
    display: block;
}
.page2_main_btn_inner{
    width: auto;
    background: #461858;
    padding: 3% 5%;
}
.page2_main_btn a{
    padding: 33% 0;
    font-size: 100%;
    border: 5px solid #e9d800!important;
    border-radius: 50%!important;
    background: #3a1548 !important;
    color: white!important;
    font-weight: normal!important;
}
.news_page_main_header{
    text-align: right;
    border: none;
    border-bottom: 1px solid #b5a2b8;
    color: #572e63;
    padding: 3%;
    font-weight: bold;
}
.news_page_main_ul{
    margin: 0!important;
    list-style: none;
    padding: 0!important;
}
.news_page_main_ul li {
    border: none!important;
    margin: 2% 0!important;
    padding: 3%!important;
    background: #f3f1f2!important;
    font-size: 80%!important;
}
.news_page_main_ul a {
    float: left;
    color: #b6b250!important;
    text-decoration: none;
}


/*--------------- Page_3 ----------------------------*/
.header {
    background: #461858!important;
    color: #fff!important;
    border-bottom: 1px solid #c4a440!important;
}
.btn_toolbar, .btn_toolbar2 {
    background: #461858!important; 
}
.btn_toolbar2 {
    margin-left: 35px!important;
}
.main_info_3{
    background: #461858;
}
.main_info_3, .page_description3{
    font-size: 100%;
    text-align: center;
    color: #fff;
}
.page_description3 {
    padding: 5% 0 15% 0;
}
.page_description3 p {
    line-height: 2.5;
    margin: 0 5%;
}
.mid_line {
    height: 100%;
    width: 3px;
    background: #fff;
}
.main_btn_inner {
    width: 80%;
    margin: 0 auto;
}
.main_info_3 a{
    width: 59%;
    padding: 25% 0;
    border: 5px solid #e9d800!important;
    border-radius: 50%!important;
    background: #3a1548 !important;
    color: white!important;
    font-weight: normal!important;
    margin: 35px auto!important;
}
.btn_loc {
    float: right;
    width: 59%;
    width: 3px;
    background: #4f1d64;
    padding-top: 63%;
    margin-top: 35px;
}





/* style_top */
.style_top {
    margin-top: 40px;
}
.style_top img {
    display: block;
    width: 100%;
}


/* style_buttom */
.style_buttom {
    height: auto;
    padding-bottom: 20px;
}
.style_buttom img {
    display: block;
    height: 100%;
    width: 100%;
}




.ui-icon-myicon:after {
	background-image: url("../res/icons/android/location.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-myicon:after {
	background-image: url("iconimg.png");
}
/*--------------- Page_4 ----------------------------*/
