* {
    text-shadow: none!important;
}
div{
    box-shadow: none!important;
}
.p0{
    padding: 0 !important;
}
.B {
    display: block;
    margin: 0 auto!important;
}







/*--------------- Page_login ----------------------------*/
.info {
    margin: 0;
}
.fill_img{
    width: 100%;
    height: 95%;
    position: absolute;
    z-index: 0;
    background-image: url("../images/image.png");
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-blend-mode: saturation;
}
.fill_img_inner{
    background: rgba(50,50,50,0.73);
    width: 100%;
    height: 100%;
    position: absolute;
}
.topelement_p1{
    position: relative;
}
.topelement_p1 img{
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
}
.logo img{
    width: 35%;
    display: block;
    margin: 0 auto;
}
.logo_caption{
    position: relative;
    font-size: 100%;
    padding: 10% 0;
    text-align: center;
        color: #fff;
}
.circle_p1{
    justify-content: space-around;
    display: flex;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.circle_p1 div{
    position: relative;
    border: 5px solid yellow;
    border-radius: 50%;
    height: fit-content;
    background-size: cover;
}
.circle_p1_child_right{
    width: 17%;
    padding-top: 17%;
    background: url("../images/image.png") no-repeat;
    margin: 5% 0;
}
.circle_p1_child_center{
    width: 20%;
    padding-top: 20%;
    background: url("../images/image.png");
    margin: 5% 0;
}
.circle_p1_child_left{
    width: 25%;
    padding-top: 25%;
    background: url("../images/image.png");
    margin: -5% -5% 0 5%;
}
.info{
    background: #5a1973;
}
.info_caption{
        font-size: 80%!important;
        text-align: center!important;
        color: #fff!important;
    padding: 5% 0!important;
}
.info form{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 15%;
}
.info form div{
    border: none!important;
    background: #00000000 !important;
}
.input_num_p1{
    background-color: #5a1973!important;
    border: 1px solid #ffff00!important;
    border-radius: 20px !important;
    padding: 2% 5% !important;
    text-align: left!important;
    direction: ltr;
    font-weight: bold;
    color: #fff !important;
    text-shadow: none!important;
}
.submit_p1{
    width: 25%;
    display: block!important;
    margin: 0 auto!important;
        background-color: #ffff00!important;
    border:none!important;
    border-radius: 20px !important;
    padding: 2% 5% !important;

}










/*--------------- Page SMS ----------------------------*/

.place_main {
    background: url("../images/bacground-no repeat.png") no-repeat;
    background-size: 100% 100%;
    margin: -10px 0 0 0!important;
}
.main_tilte {
    width: 80%;
    border-bottom: 1px solid #e3bc9b;
    margin: 10px auto;
    padding: 35px 0 30px 0;
    text-align: center;
    font-size: 120%;
    color: #fff;
}
.send_again, .timer_sms {
    text-align: right!important;
    float: right;
    width: 50%;
    font-size: 90%;
    color: #fff;
    padding: 5% 0;
    margin-bottom: 30px!important;
    margin-top: 30px!important;
}
.timer_sms {
    text-align: left!important;
    float: left;
}
.submit_sms {
    width: 25%;
    display: block!important;
    margin: 0 auto!important;
    background-color: #ffff00!important;
    border:none!important;
    font-size: 90%!important;
    border-radius: 20px !important;
    padding: 2% 7% !important;
    margin-top: 20px!important;
    margin-bottom: 65px!important;
}
.main_info{
    background: #461858;
}
.main_info, .main_info_description{
    font-size: 90%;
    text-align: center;
    color: #fff;
    padding: 5% 0;
    padding-top: 45px!important;
}
.main_info_description {
    padding-top: 35px!important;
}
.main_info form{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 5%;
}
.main_info form div{
    border: none!important;
    background: #00000000 !important;
}
.etx_verify{
    width: 25%!important;
    background-color: #5a1973!important;
    border: 1px solid #ffff00!important;
    border-radius: 20px !important;
    text-align: center!important;
    direction: ltr;
    font-weight: bold;
    color: #fff !important;
    text-shadow: none!important;
    margin: 0 auto!important;
}











/*--------------- Page_Location ----------------------*/
.header {
    background: #461858!important;
    color: #fff!important;
    border-bottom: 1px solid #c4a440!important;
}
.btn_toolbar, .btn_toolbar2 {
    background: #461858!important; 
}
.btn_toolbar2 {
    margin-left: 35px!important;
}
.main_info_3{
    background: #461858;
}
.main_info_3, .page_description3{
    font-size: 100%;
    text-align: center;
    color: #fff;
}
.page_description3 {
    padding: 5% 0 15% 0;
}
.page_description3 p {
    line-height: 2.5;
    margin: 0 5%;
}
.mid_line {
    height: 100%;
    width: 3px;
    background: #fff;
}
.main_btn_inner {
    width: 80%;
    margin: 0 auto;
}
.main_info_3 a{
    width: 59%;
    padding: 25% 0;
    border: 5px solid #e9d800!important;
    border-radius: 50%!important;
    background: #3a1548 !important;
    color: white!important;
    font-weight: normal!important;
    margin: 35px auto!important;
}
.btn_loc {
    float: right;
    width: 59%;
    width: 3px;
    background: #4f1d64;
    padding-top: 63%;
    margin-top: 35px;
}










/*--------------- Page_LocationB1 ----------------------*/

.locationB1 img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}
.locationB1 {
    height: auto!important;
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: right; 
}
.locationB1_txt_tittle {
    padding: 25px 5px;
    color: #9a8137;
    
}
.locationB1_txt {
    height: auto!important;
    width: 90%;
    height: auto;
    padding: 10px 25px;
    margin: 0 auto;
    text-align: right;  
}
.locationB_btn {
    height: auto!important;
    width: 90%;
    height: auto;
    margin: 0 auto;
    text-align: left; 
}
.locationB_btn a {
    width: 25%;
    background-color: #ffff00!important;
    border:none!important;
    font-size: 90%!important;
    border-radius: 20px !important;
    padding: 2% 7% !important;
    box-shadow: none!important;
    color: #000!important;
    margin: 0 auto 0 0!important;
}






/*--------------- Page_Main ----------------------------*/
.page2_main_btn img {
    width: 100%;
    height: auto;
    display: block;
}
.page2_main_btn_inner{
    width: auto;
    background: #461858;
    padding: 3% 5%;
}
.page2_main_btn a{
    padding: 33% 0;
    font-size: 100%;
    border: 5px solid #e9d800!important;
    border-radius: 50%!important;
    background: #3a1548 !important;
    color: white!important;
    font-weight: normal!important;
}
.news_page_main_header{
    text-align: right;
    border: none;
    border-bottom: 1px solid #b5a2b8;
    color: #572e63;
    padding: 3%;
    font-weight: bold;
}
.news_page_main_ul{
    margin: 0!important;
    list-style: none;
    padding: 0!important;
}
.news_page_main_ul li {
    border: none!important;
    margin: 2% 0!important;
    padding: 3%!important;
    background: #f3f1f2!important;
    font-size: 80%!important;
}
.news_page_main_ul a {
    float: left;
    color: #a0a000!important;
    text-decoration: none;
}






/* style_top */
.style_top {
    margin-top: 40px;
}
.style_top img {
    display: block;
    width: 100%;
}


/* style_buttom */
.style_buttom {
    height: auto;
    padding-bottom: 20px;
}
.style_buttom img {
    display: block;
    height: 100%;
    width: 100%;
}




.ui-icon-myicon:after {
	background-image: url("../res/icons/android/location.svg");
}
/* Fallback */
.ui-nosvg .ui-icon-myicon:after {
	background-image: url("iconimg.png");
}









/*--------------- Page_Contact ----------------------------*/
.contact_us_main_info{
    background: #461858 !important;
    padding: 15% 0;
}
.contact_us_main_info form{
    padding: 0 10%;
}
.field-contain div, .contact_us_textarea textarea{
    color: #d2bada !important;
    text-align: right!important;
    direction: rtl!important;
    border-radius: 5px;
    border: none;
    background: #591b6e !important;
}
.field-contain div:last-child, .contact_us_textarea textarea {
    border: 1px solid #73537d5c!important;
    text-shadow: none!important;
}
.contact_us_textarea textarea{
    height: auto !important;
    resize: none!important;
    padding: 3%;
    box-shadow: none!important;
}
.contact_us_textarea textarea::placeholder{
    color: #d2bada !important;
}
.contact_us_main_info_a{
    width: 25%;
    margin: 0!important;
    float: left;
    display: block!important;
    background-color: #ffff00!important;
    border:none!important;
    font-size: 90%!important;
    border-radius: 20px !important;
    padding: 2% 7% !important;
    box-shadow: none!important;
}








/*--------------- Page_News ----------------------------*/
.about_main_info{
    background: #461858 !important;
    padding: 15% 5%;
    text-shadow: none!important;
    color: #fff;
}
.about_textheader{
    width: 100%;
    font-size: 100%;
    padding: 1%;
}
.about_text{
    width: auto;
    height: 150px;
    background: #4c195e;
    padding: 5%;
    margin: 4% 0 !important;
}
.about_main_info a{
    background: #61426e!important;
    width: 25%;
    margin: 0!important;
    float: left;
    display: block!important;
    border:none!important;
    font-size: 80%!important;
    border-radius: 20px !important;
    padding: 2% 7% !important;
    box-shadow: none!important;
    color: #fcf0fe!important;
}











/*--------------- Page_Introduction ----------------------------*/
.moarefi_nobg{
    width: 100%;
    height: 55%;
    position: absolute;
    z-index: 1;
    background: #430d58 !important;
}
.moarefi_main_info{
    padding: 15% 5%;
    text-shadow: none!important;
    color: #fff;
}
.moarefi_tilte {
    position: relative;
    z-index: 5;
    width: 70%;
    border-bottom: 1px solid #e3bc9b;
    margin: 10px auto;
    padding: 35px 0 30px 0;
    text-align: center;
    font-size: 120%;
    color: #fff;
}
.moarefi_img{
    width: 100%;
}
.moarefi_img img{
    position: relative;
    z-index: 5;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.moarefi_imgfullsize{
    width: 100%;
}
.moarefi_imgundersize div{
    padding: 1%;
}
.moarefi_p{
    padding: 2%;
    font-size: 80%;
    color: #fff;
    text-shadow: none;
}








/*--------------- choose class page ----------------------------*/

.chooseclasspage_main_info{
    margin: 0;
    padding: 5% 0;
    background: #461858;
}
.chooseclasspage_main_info li{
    width: 100%;
    height: auto;
    border-top: 1px solid #5f3c57;
    font-size: 90%;
    font-weight: bold;
    line-height: 0;
}
.chooseclasspage_main_info li:last-child{
    border-bottom: 1px solid #5f3c57;
}
.chooseclasspageـgride{
    line-height: 2;
}
.chooseclasspageـgride div{
    text-shadow: none!important;
    color: #fff;
    padding: 2% 5% !important;
}
.chooseclasspage_2, .chooseclasspage_4 {
    text-align: left;
}









/*--------------- Page_SignUp ----------------------------*/
.signuppage_main_info{
    padding: 5%;
    background: #461858;
}
.signuppage_main_info input, textarea {
    width: 100% !important;
    height: auto!important;
    resize: none!important;
    background: #3a1548 !important;
    color: #fff !important;
    text-shadow: none !important;
    border-radius: 20px!important;
    padding: 1% 5%!important;
    border: none!important;
    box-shadow: none!important;
}
.signuppage_main_info input::placeholder {
    color: #6a4e75!important;
    font-size: 80%!important;
}
.signuppage_main_info textarea::placeholder {
    color: #6a4e75!important;
    font-size: 80%!important;
}
.signuppage_fild div{
    background: transparent!important;
}
.signuppage_input_num::placeholder {
    text-align: right!important;
}
.signuppage_input_num:focus {
    text-align: left!important;
}
.signuppage_fild div:last-child{
    border: none!important;
    background: #3a1548 !important;
    border-radius: 20px!important;
}
.signuppage_input_submit div:last-child {
    background: #5a1973;
    border: 1px solid #7a5188;
}
.signuppage_input_submit a {
    color: #ccaf2f!important;
    border: 1px solid #724c7f!important;
    border-radius: 30px!important;
    background: #5a1a73!important;
    margin-top: 35px;
    margin-bottom: 35px;
    text-shadow: none!important;
    font-size: 80%;
}






/* Swipe works with mouse as well but often causes text selection. */
#loginpage,#smspage *,#chooselocatinpage *,#locationB1 *,#locationB2 *,#mainppage *,#sanspage *,#choosesanspage *,#chooseclasspage *,#workoutpage *,#cotactpage *,#newspage *,#introductionpage *,#signuppage *,#newspagesuggestionpage * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}





#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}


.show {
    visibility: visible !important; /
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*--------------- Page_workout ----------------------------*/
.workoutpage_style_top{
    margin-top: 35%;
}
.workout_main_info{
    background: #461858 !important;
    padding-bottom: 8%;
}
.workout_circle{
    margin-top: -30%;
}
.workout_main_tittle{
    margin-bottom: 5% !important;
}
.workout_grid_block{
    width: 90%;
}
.workout_grid div:last-child{
    line-height: 3;
    text-align: center;
    border-color: #451956;
    background: #502461;
    font-size: 100%;
    text-shadow: none;
    color: #fff;
}
.workout_grid_tittle{
    border-radius: 20px 20px 0 0!important;
}
.workout_grid_bottom{
    border-radius: 0 0 20px 20px!important;
}
.workout_tittle {
    color: #dfce1e !important;
}
.workout_explain{
    width: 85%;
    padding: 5% 0;
}
.workout_explain p{
    color: #fff;
    line-height: 2;
}
.workout_btn{
    width: 70%;
    float: none;
    margin: 0 auto!important;
}




